@import "../../global.scss";

.about {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;
    background-color: royalblue;

    .imgContainer {
      width: 1040px;
      height: 1040px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      // float: right;

      @include mobile {
        align-items: flex-start;
      }

      img {
        height: 100%;

        @include mobile {
          height: 30%;
        }
      }
    }
  }
  .right {
    flex: 0.5;
    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 60px;
        margin: 10px 0;
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;
        span {
          font-size: inherit;
          color: royalblue;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
      p {
        margin-top: 100px;
        font-size: 40px;
        font-weight: bolder;
        color: royalblue;
      }
      h5 {
        margin-top: 20px;
        width: 70%;
        font-size: 20px;
        font-weight: normal;
        align-items: center;
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 75%;

      img {
        width: 40px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
