.contact {
  background-color: white;
  display: flex;

  .left {
    flex: 1;
    overflow: hidden;

    img {
      margin-top: 30%;
      margin-left: 20%;
      height: 20%;
      width: 50%;
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 40px;
      color: rgb(50, 131, 160);
    }
    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      input {
        width: 400px;
        height: 30px;
        font-size: 14px;
      }
      textarea {
        width: 400px;
        height: 200px;
        font-size: 14px;
      }

      button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: rgb(50, 131, 160);
        border: none;
        border-radius: 10px;
        font-weight: bolder;

        &focus {
          outline: none;
        }
      }

      span {
        color: orangered;
        font-weight: bold;
      }
    }
  }
}
