@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;

 

    img {
      margin-top: 30%;
      margin-left: 20%;
      height: 20%;
      width: 50%;

      @include mobile {
        width: 60%;
        height: 20%;
        margin-bottom: 0;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile {
      position: relative;
      top: -100px;
    }

    h2 {
      font-size: 40px;
      color: rgb(50, 131, 160);
      padding-bottom: 20px;
    }
    form {
      width: 80%;
      height: 70%;
      display: flex;
      flex-direction: column;
      // justify-content: space-around;
      align-items: center;

      input {
        margin-bottom: 20px;
        width: 400px;
        height: 30px;
        font-size: 14px;
        background-color: rgb(204, 236, 247);

        @include mobile {
          width: 300px;
        }
      }
      textarea {
        width: 400px;
        height: 200px;
        font-size: 14px;
        background-color: rgb(204, 236, 247);

        @include mobile {
          width: 300px;
        }
      }

      button {
        margin-top: 20px;
        width: 150px;
        height: 30px;
        color: white;
        background-color: rgb(50, 131, 160);
        border: none;
        border-radius: 10px;
        font-weight: bolder;

        &focus {
          outline: none;
        }
      }

      span {
        margin-top: 15px;
        color: orangered;
      }
    }
  }
}
