@import "../../global.scss";

.blog {
  background-color: $mainColor;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    height: 80px;
    position: absolute;
    cursor: pointer;

    &.left {
      left: 400px;
      transform: rotate(90deg);
    }

    &.right {
      right: 400px;
      transform: rotate(-90deg);
    }
  }

  .slider {
    height: 40%;
    display: flex;
    position: absolute;
    left: 0vw; //changed it to 100 or 200 to change project
    transition: all 2s ease-in-out;

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        align-items: center;
        display: flex;
        justify-content: center;

        .left {
          flex: 4;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(0, 110, 255);
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 25px;
              }
            }
            h2 {
              font-size: 20px;
            }
            p {
              font-size: 12px;
            }
            span {
              font-style: 12px;
              font-weight: 700;
              text-decoration: dotted;
              cursor: pointer;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
